{% extends 'home/index.html.twig' %}

{% block body %}
    <main>
        <div class="div container-fluid">
            <div class="row">
                <div class="my-lg-5 d-flex justify-content-center">
                    <h1>About this project</h1>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <h2>What is this list for?</h2>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <p>
                        The goal of this website is pretty straightforward, being able to
                        keep track of any manga (Japanese Comics) you have read, are currently reading
                        or want to check out !
                        <br>
                        You have the possibility to rate them, add a comment about it. Maybe why you stopped
                        reading or why you loved it so much !
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <h2>How did the project start ?</h2>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <p>
                        I am big fan of manga, I have been watching anime from as long as I can remember
                        on TV. It was just natural that I would keep following my favorites stories and world
                        on paper.
                        This project allows me to combine two passions, coding and mangas.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <h2>What's coming next ?</h2>
                </div>
            </div>
            <div class="row">
                <div class="my-2 d-flex justify-content-center">
                    <p>
                        Many things !
                        <br>
                        I am currently working on the second iteration of the project, which involves
                        the use of an API to complete any infos an user could enter on a manga.
                        For example, automaticaly displaying the manga's cover as you add it to the list.
                        <br>
                        It would also allow to correct any inconsistency in the user input.
                        If the author is still releasing chapters, the user won't be able to put the status
                        "Completed" for example.
                        <br>
                        <br>
                        Then I would also like to extend the list to different type of content.
                        Anime, other types of books, comics or more classical literature
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block js %}

{% endblock %}

