{% extends 'base.html.twig' %}
{% block title %}
    Statistics
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="row">
        </div>
    </main>
{% endblock %}


